*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.parent{
    background-color: rgb(35, 82, 123);
    padding: 20px;
    width: px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cards{
    margin: 20px;
    padding: 20px;
    gap: 20px;
    

}
.cards >img{
    width: 300px;
    border-radius: 20px;
}