*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
header {
    background-color: #222;
    color: white;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    color: #00bcd4;
}

.hero {
    min-height: 450px;
    padding: 60px 10%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.hero-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.hero-text {
    max-width: 550px;
}

.hero-text h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero-text h3 {
    font-size: 25px;
    color: #007bff;
    margin-bottom: 15px;
}

.hero-text p {
    line-height: 1.7;
    margin-bottom: 20px;
}
button {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background-color: white;
    padding: 20px 35px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    font-weight: bold;
}
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
