*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.services {
    text-align: center;
    padding: 50px 20px;
    background-color: #222;
    height: 500px;
}

.services h1 {
    font-size: 38px;
    color: #222;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    margin-bottom: 35px;
}
.service-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 15px;
}

.service-card {
    flex: 1;
    background-color: #80a6dfb7;
    padding: 25px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-8px);
}.service-card h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 12px;
}

.service-card p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
}
@media (max-width:578px) {
    .service-card {
    flex: 1;
    background-color: #b6bac0;
    padding: 25px 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}.service-container {
        flex-direction: column;
        gap: 20px;
    }
}