*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
a{
    text-decoration: none;
}
.parent{
    background-color: black;
    color: antiquewhite;
    padding: 20px;
    height: 500px;
    width: 1000px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px;
}
.child{
    background-color: rgb(253, 1, 1);
    color: rgb(198, 121, 21);
    padding: 20px;
    margin: 30px;
    height: 200px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}