*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
.parent{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.form {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow:  10px 10px 10px 10px rgba(233, 229, 229, 0.2);
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}
input:focus {
    border-color: blue;
    background-color: #e6f7ff;
}
button {
    background-color: #007bff;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
